In [1]:
from pydala.dataset import Reader
from pydala.filesystem import FileSystem

In [2]:
fs1 = FileSystem(
    access_key="volker",
    secret_key="s78anwg9",
    endpoint_url="http://192.168.2.162:9000",
    aws_profile="minio",
)

In [9]:
fs1._filesystem.rename?

Signature: fs1._filesystem.rename(path1, path2, **kwargs)
Docstring: Alias of `AbstractFileSystem.mv`.
File:      ~/mambaforge/envs/main/lib/python3.10/site-packages/fsspec/spec.py
Type:      method

In [1]:
import pfsyarrow.fs as pafs

In [1]:
from pydala.dataset import Reader

from pydala.filesystem import FileSystem

fs = FileSystem(
    access_key="volker",
    secret_key="s78anwg9",
    aws_profile="minio",
    endpoint_url="http://192.168.2.162:9000",
)
#fs.s5ls("findata/yahoo/", only_objects=False)

In [13]:
reader = Reader(
    "yahoo/symbols",
    bucket="findata",
    filesystem=fs,
    distinct=True,
    name="symbols",
    format="feather",
    sort_by=["exchange", "type", "symbol"],
    drop=None
)

In [12]:
import pyarrow.dataset as ds
dataset = ds.dataset("findata/yahoo/symbols", filesystem=fs._filesystem, format="feather", drop=None)

TypeError: dataset() got an unexpected keyword argument 'drop'

In [14]:
reader.load_mem_table()

In [18]:
reader.mem_table.column_names

['symbol', 'name', 'exchange', 'type', 'industry', 'valid']

,symbol,name,exchange,type,industry,valid
0,A,"Agilent Technologies, Inc.",NYQ,equity,Healthcare,True
1,AA,Alcoa Corporation,NYQ,equity,Basic Materials,True
2,AAA,NaN,NYQ,equity,NaN,True
3,AAC,Ares Acquisition Corporation,NYQ,equity,Financial Services,True
4,AAC-UN,Ares Acquisition Corporation,NYQ,equity,Financial Services,True
...,...,...,...,...,...,...
4489,ZVV,NaN,NYQ,equity,NaN,True
4490,ZWS,Zurn Elkay Water Solutions Corp,NYQ,equity,Industrials,True
4491,ZX,NaN,NYQ,equity,NaN,True
4492,ZYME,Zymeworks Inc.,NYQ,equity,Healthcare,True
4493,ZZZ,NaN,NYQ,equity,NaN,True